
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Modules{% endblock %}</title>

    {% block stylesheets %}
       <link reel="stylesheets" href="{{ asset('css/style.css') }}">
    {% endblock %}


</head>
<body>
<h1>Les modules de TEK-UP</h1>

{% block body %}

{% endblock %}
</body>
</html>